.abtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 500;
    border-radius: 3.9rem;
    transition: all .3s ease;
    text-decoration: none;
    outline: 0;
    word-break: break-word;
    height: fit-content;

    &.btn-primary {
        max-width: 19.5rem;
        padding: 1.9rem;
        border: 2px solid #e03194;
        color: $white;
        background-color: #e03194;

        &:hover {
            color: $dark-dray;
            border: 2px solid #99e061;
            background-color: #99e061;
        }

        &:active, &:focus {
            color: $dark-dray;
            border: 2px solid #80BA52;
            background-color: #80BA52;
        }
    }

    &.btn-big {
        max-width: 25rem;
        padding: 1.9rem;
        border: 2px solid #e03194;
        color: #e03194;

        &:hover {
            color: #99e061;
            border: 2px solid #99e061;
        }

        &:active, &:focus {
            color: #80ba52;
            border: 2px solid #80ba52;
        }
    }

    &.btn-medium {
        max-width: 17.5rem;
        padding: 1.3rem;
        border: 2px solid #ffffff26;
        color: #e03194;

        &:hover {
            color: $dark-dray;
            border: 2px solid #99e061;
            background-color: #99e061;
        }

        &:active, &:focus {
            color: $dark-dray;
            border: 2px solid #80BA52;
            background-color: #80BA52;
        }
    }

    &.btn-small {
        max-width: 12rem;
        padding: 1.3rem;
        border: 2px solid #e03194;
        color: $white;
        background-color: #e03194;

        &:hover {
            color: $dark-dray;
            border: 2px solid #99E061;
            background-color: #99E061;
        }

        &:active, &:focus {
            color: $dark-dray;
            border: 2px solid #80BA52;
            background-color: #80BA52;
        }
    }

    &.disabled {
        pointer-events: none;
        cursor: auto;
        color: $white;
        background: #999999;
        border-color: #999999;
    }
}
