.form-check {
    margin: .7rem 0;
    padding-left: 0;

    &-input[type="checkbox"] {
        width: 2rem;
        min-width: 2rem;
        height: 2rem;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        border-radius: .4rem;
        border: none;
        background: #FFFFFF;
        margin-left: 0;
        margin-top: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:checked[type="checkbox"] {
            background-image: url(/img/shared/check.svg);
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
        }
    }

    &-label {
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        padding-left: 1rem;
        max-width: 35rem;

        &.required {
            position: relative;
            margin-left: 1rem;

            &:before {
                content: '*';
                color: #ff0000;
                position: absolute;
                top: 0rem;
                left: -0.3rem;
            }
        }

        a {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: #E03194;

            &:hover {
                color: #cb2683;
                text-decoration: underline;
            }
        }
    }
}

.form-radio {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding-left: 3.5rem;
    margin-right: 1.5rem;
    cursor: pointer;
    font-size: 2.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &-label {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        color: #282828;
    }

    input {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 2rem;
        width: 2rem;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 2rem;
        width: 2rem;
        background-color: #FFFFFF;
        border-radius: 50%;

        &:after {
            content: "";
            position: absolute;
            display: none;
            top: 50%;
            left: 50%;
            width: 1rem;
            height: 1rem;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #999999;
        }
    }

    &:hover input ~ .checkmark {
        background-color: #ccc;
    }

    input:checked ~ .checkmark {
        background-color: #FFFFFF;
    }

    input:checked ~ .checkmark:after {
        display: block;
    }
}
