.contact {
    position: relative;
    z-index: 1;

    &:before {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 124px;
        content: '';
        background: url('/img/backgrounds/bg_footer.svg') repeat-x bottom center;
        z-index: 2;

        @include media-breakpoint-down(lg) {
            background: url('/img/backgrounds/bg_footer.svg') no-repeat bottom center/100% 126px;
        }

        @include media-breakpoint-down(md) {
            height: 243px;
            padding-bottom: 30px;
            background: url('/img/backgrounds/mobile_bg.svg') no-repeat bottom center/100% 241px;
        }
    }

    @include media-breakpoint-down(lg) {
        z-index: 2;
    }

    @include media-breakpoint-down(md) {
        padding-bottom: 3rem;
    }

    .col-lg-4 {
        z-index: 2;
    }

    .heading {
        margin-bottom: 3rem;

        .descriptor {
            background: #c6ff99;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h1 {
            color: $white;

            @include media-breakpoint-down(md) {
                margin-bottom: 1rem;
            }
        }

        .subscript {
            p, a {
                color: $white;
            }

            @include media-breakpoint-down(md) {
                p {
                    br {
                        display: none;
                    }
                }
            }
        }

        @include media-breakpoint-down(lg) {
            margin-bottom: 2rem;
        }
    }

    .block-pb {
        padding-bottom: 6rem;

        @media screen and (max-width: 1420px) {
            padding-bottom: 5.5rem;
        }

        @media screen and (max-width: 1280px) {
            padding-bottom: 0px;
        }
    }

    .contact-form {
        .form-field {
            margin-bottom: 2.5rem;

            .form-control {
                &::placeholder {
                    color: #0000004d;
                }
            }

            @include media-breakpoint-down(lg) {
                margin-bottom: 1rem;
            }
        }

        .form-control {
            height: 4.8rem;

            @include media-breakpoint-down(lg) {
                height: 4.6rem;
            }
        }

        textarea.form-control {
            height: 12rem;
            resize: none;

            @include media-breakpoint-down(md) {
                border-radius: 2rem;
            }
        }

        .abtn {
            margin-top: 3.5rem;
            z-index: 3;

            @include media-breakpoint-down(lg) {
                margin-top: 1rem;
                height: 4.8rem;
            }

            @include media-breakpoint-down(md) {
                width: 100%;
                max-width: none;
                margin-top: 0;
            }
        }
    }

    .contact-img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -4rem;

        @include media-breakpoint-down(lg) {
            bottom: 2rem;
            top: -34rem;

            svg {
                height: 100%;
            }
        }

        @media screen and (max-width: 1110px) {
            bottom: 2rem;
            top: -30rem;
        }

        @media screen and (max-width: 1000px) {
            bottom: 2rem;
            top: -15rem;
        }

        @include media-breakpoint-down(md) {
            top: 0;
            position: static;
            height: 25.4rem;
            margin-bottom: 1rem;
        }

        .svg {
            display: block;
            margin: 0 auto;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            @include media-breakpoint-down(md) {
                height: 100%;
                margin-bottom: 1rem;
            }
        }
    }

    .col-lg-3 {
        z-index: 2;
    }
}
