.main-screen {
    margin-top: -14rem;
    padding-top: 14rem;
    margin-bottom: 6.4rem;
    background: url("../../img/pages/main/backgroundFrame.png") bottom repeat-x;

    @include media-breakpoint-down(lg) {
        background: url("../../img/pages/main/backgroundFrame.png") bottom/cover no-repeat;
        margin-bottom: 5rem;
    }

    @include media-breakpoint-down(md) {
        background: url("../../img/pages/main/backgroundFrameSM.png") bottom/cover no-repeat;
        margin-bottom: 2rem;
    }

    .header-main-img {
        width: 84.4rem;
        max-width: 100%;
        height: 70.2rem;
        max-height: 100%;
        margin-left: 10rem;
        margin-top: -6.4rem;
        background: url("../../img/pages/main/header.svg") center/contain no-repeat;

        @include media-breakpoint-down(lg) {
            height: 35.4rem;
            width: 42.6rem;
            margin: 0 auto;
            margin-top: -2.5rem;
            max-width: 130%;
        }
    }

    .header-intro {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin-bottom: 1.5rem;
            margin-top: -10rem;

            @include media-breakpoint-down(lg) {
                margin-top: -3rem;
                margin-bottom: .7rem;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 1rem;
            }
        }

        h1, h2 {
            color: $white;
        }
    }

    .partners {
        margin-top: 5rem;

        @include media-breakpoint-down(lg) {
            margin-top: 1rem;
        }

        @include media-breakpoint-down(md) {
            margin-top: 4.2rem;
        }

        .partners-title {
            background: #120741;
            border-radius: 0 4rem 4rem 0;
            margin: 3rem 0 3rem -3rem;
            text-align: right;
            font-weight: 500;
            font-size: 2.4rem;
            padding: 2.2rem 2rem;
            color: $white;

            @include media-breakpoint-down(lg) {
                font-size: 1.8rem;
                padding: 1.3rem 2rem;
                margin: 1.5rem 0 2rem -3rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 1.6rem;
                padding: 0.8rem 2rem;
                margin-top: 0;
                margin-bottom: 2rem;
            }
        }

        .partners-item {
            margin-bottom: 3rem;
            display: block;

            .svg {
                max-width: 100%;

                @include media-breakpoint-down(lg) {
                    max-height: 7rem;
                }

                @include media-breakpoint-down(md) {
                    max-height: none;
                    height: auto;
                    width: 100%;
                }
            }
        }
    }
}
