<section class="contact" id="contact">
    <div class="container">
        <div class="row heading">
            <div class="d-none d-md-flex col-6 col-lg-6">

            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="descriptor">Wir sind für Dich da!</div>
                <h1>Kontakt</h1>
                <div class="subscript">
                    <p>Du hast noch Fragen? Fülle einfach das Kontaktformular aus. Wir freuen <br>uns auf Deine Nachricht.</p>
                    <a href="mailto:info@remote-health.eu" class="icon icon-email">info@remote-health.eu</a>
                </div>
            </div>
        </div>
        <div class="row block-pb">
            <div class="col-12 col-md-6 position-relative">
                <div class="contact-img">
                    <img src="img/pages/contact/contact.svg" class="svg" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <form class="contact-form">
                    <div class="form-field">
                        <input class="form-control" type="text" placeholder="Name" aria-label="Name" name="formContactName" required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="email" placeholder="E-Mail" aria-label="E-Mail" name="formContactEMail" required>
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" placeholder="Betreff" aria-label="Betreff" name="formContactBetreff">
                    </div>
                    <div class="form-field">
                        <textarea class="form-control" placeholder="Deine Nachricht" aria-label="Deine Nachricht" name="formContactMessage"></textarea>
                    </div>
                    <button class="abtn btn-primary" type="submit">Absenden</button>
                </form>
            </div>
        </div>
    </div>
</section>