<section class="course-page">
    <div class="container">
        <div class="back-title">
            <a class="title" href="#">back to courses</a>
        </div>
        <div class="row">
            <div class="col-12 col-md-12 col-lg-7">
                <div class="video-wrapper">
                    <img src="img/courses-page/test-img.png" alt="">
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 bottom-bg">
                <div class="accordion accordion-flush video-list">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-1" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-1" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <a href="#" class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </a>
                                <a href="#" class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </a>
                                <a href="#" class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </a>
                                <a href="#" class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-2" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-3" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-4" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-4" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-5" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-5" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-6" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-6" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-1" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-1" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-2" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-2" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-3" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-3" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-4" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-4" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-5" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-5" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#flush-heading-6" aria-expanded="false">
                                <div>
                                    <h4>Tag 1: Healthy Cooking with Gail Li.</h4>
                                    <p>1 / 10 | 41 Min.</p>
                                </div>
                            </div>
                        </h2>
                        <div id="flush-heading-6" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">1.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">2.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                                <div class="body-item">
                                    <img src="img/courses-page/play-btn.svg" class="svg" alt="" />
                                    <h3 class="numb">3.1</h3>
                                    <div class="info">
                                        <h4>Healthy Breakfast - Avocado-Bread And Egg</h4>
                                        <span>6 Min.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-8 description">
                <div class="accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button description-heder" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-heading" aria-expanded="false">
                                <h4>Welcome to your instructional video course "Healthy Cooking" with Gail Li.</h4>
                            </button>
                        </h2>
                        <div id="panelsStayOpen-heading" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <p>
                                    In this series, Gail will demonstrate how to easily prepare healthy foods for breakfast, lunch, and supper, as well as little snacks in between.
                                </p>
                                <p>Each video comes with a list of ingredients that you can buy beforehand, so you have everything ready to start cooking along with Gail.</p>
                                <p>Bon appetit!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>