<section class="courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-6 text-end">
                <div class="descriptor">Jetzt starten</div>
                <h1>
                    Unsere Top<br>
                    Kurse
                </h1>
            </div>
            <div class="col-6 col-lg-6">
                <h2 class="heading-title">Hier findest du unsere beliebtesten Video-Coachings und weitere Informationen für Deine individuelle Gesundheitsförderung</h2>
            </div>
        </div>
        <div class="cards-wrapper">
            <div class="card image">
                <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                <div class="card-title">Stressmanagement</div>
                <div class="card-annotate">Biofeedback-Einzelcoaching</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card image">
                <img class="card-img" src="img/pages/courses/thumb2.png" alt="">
                <div class="card-title">Stressmanagement</div>
                <div class="card-annotate">Biofeedback-Einzelcoaching</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card image">
                <img class="card-img" src="img/pages/courses/thumb3.png" alt="">
                <div class="card-title">Stressmanagement</div>
                <div class="card-annotate">Biofeedback-Einzelcoaching</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card image">
                <div class="card-description">Hier geht es zu unseren Ernährungs-, Bewegungs- und Entspannungskursen</div>
                <a href="#" class="abtn btn-primary card-allnews">Alle Neuigkeiten</a>
            </div>
        </div>
    </div>
</section>