<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 ">
                <img class="svg footer-logo" src="img/shared/logo_white.svg" alt="">
            </div>
            <div class="col-6 col-md-3">
                <h3>Kontaktinformation</h3>
                <div class="address">
                    Remote Health<br>
                    Erzgießereistraße 45<br>
                    80335 München<br>
                    Deutschland<br>
                </div>
                <p>e-Mail: &nbsp;&nbsp;<a href="mailto:info@remote-health.eu">info@remote-health.eu</a></p>
            </div>
            <div class="col-6 col-md-3">
                <h3>Allgemein</h3>
                <nav>
                    <a class="scrollto" href="#start">Home</a>
                    <a class="scrollto" href="#courses">Kurse</a>
                    <a class="scrollto" href="#mission">Mission</a>
                    <a class="scrollto" href="#team">Coaching-Team</a>
                    <a class="scrollto" href="#news">Neuigkeiten</a>
                    <a class="scrollto" href="#contact">Kontakt</a>
                </nav>
            </div>
            <div class="col-12 col-md-3">
                <h3>Folge uns</h3>
                <div class="social">
                    <a href="#"><img class="svg" src="img/icon/Facebook.svg" alt=""></a>
                    <a href="#"><img class="svg" src="img/icon/Youtube.svg" alt=""></a>
                    <a href="#"><img class="svg" src="img/icon/Instagram.svg" alt=""></a>
                    <a href="#"><img class="svg" src="img/icon/Twitter.svg" alt=""></a>
                    <a href="#"><img class="svg" src="img/icon/LinkedIn.svg" alt=""></a>
                    <a href="#"><img class="svg" src="img/icon/Google+.svg" alt=""></a>
                </div>
                <h3>Mehr Partner</h3>
                <a href="https://viventum.eu/" class="footer-partner"><img class="svg" src="img/shared/viventum.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>

<section class="copyright">
    <div class="container">
        <div class="wrapper">
            <p>Copyright © 2022 REMOTE HEALTH | <a href="#">Datenschutzerklärung</a> | <a href="#">Impressum</a></p>
        </div>
    </div>
</section>