<header class="header fixed-top fixed-bg" id="topline">
    <div class="wrapper">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light sidenav" data-mdb-right="true">
                <a class="navbar-brand" href="/">
                    <img class="logo-desc" src="/img/shared/logo.svg" alt="Logo" />
                    <img class="logo-mobile" src="img/shared/logo-mobile.svg" alt="Logo" />
                </a>
                <button class="navbar-toggler collapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-menu">
                    <div class="link-wrapper nav nav-pills">
                        <a class="nav-link scrollto" href="#start">Home</a>
                        <a class="nav-link scrollto" href="#courses">Kurse</a>
                        <a class="nav-link scrollto" href="#mission">Mission</a>
                        <a class="nav-link scrollto" href="#team">Coaching-Team</a>
                        <div class="nav-dropdown">
                            <a href="#" class="dropdown-toggle" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="nav-link">Info</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item active" href="#">Deutsch</a>
                                <div class="item-subtitle">
                                    <a class="dropdown-item" href="#">Deutsch</a>
                                    <a class="dropdown-item" href="#">Deutsch</a>
                                    <a class="dropdown-item" href="#">Deutsch</a>
                                </div>
                                <a class="dropdown-item" href="#">English</a>
                                <div class="item-subtitle">
                                    <a class="dropdown-item" href="#">Deutsch</a>
                                </div>
                            </div>
                        </div>
                        <a class="nav-link scrollto" href="#news">Neuigkeiten</a>
                        <a class="nav-link scrollto" href="#contact">Kontakt</a>
                    </div>

                    <div class="right-nav">
                        <div class="nav-item dropdown lang-select">
                            <a href="#" class="dropdown-toggle lang-link" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="lang-short">Deu</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="langDropdown">
                                <a class="dropdown-item active" href="/de">Deutsch</a>
                                <a class="dropdown-item" href="/en">English</a>
                            </div>
                        </div>
                        <div class="search">
                            <button class="menu-toggler">
                                <img src="/img/shared/hamburger-menu.svg" class="svg" alt="Menu" />
                            </button>
                            <div class="form-wrapper">
                                <input type="text" class="form-control" placeholder="Lorem ipsum dolor" required="">
                                <img class="search-btn" src="/img/icon/search.svg" alt="Search" />
                            </div>
                        </div>
                        <div class="btn-wrapper">
                            <a class="abtn btn-medium" href="#" data-bs-toggle="modal" data-bs-target="#registration">Registrieren</a>
                            <a class="abtn btn-small" href="#" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-menu__mobile">
                    <div class="menu-mobile">
                        <div class="menu-top">
                            <div class="form-wrapper">
                                <input class="form-control mobile-search" type="text" placeholder="Lorem ipsum dolor" required="">
                            </div>
                            <a class="nav-link scrollto" href="#start">Home</a>
                            <a class="nav-link scrollto" href="#courses">Kurse</a>
                            <a class="nav-link scrollto" href="#mission">Mission</a>
                            <a class="nav-link scrollto" href="#team">Coaching-Team</a>
                            <div class="nav-dropdown nav-link">
                                <a href="#" class="dropdown-toggle" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Info</span>
                                </a>
                                <div class="separator"></div>
                                <div class="dropdown-menu" aria-labelledby="langDropdown">
                                    <a class="dropdown-item active" href="#">Deutsch</a>
                                    <div class="item-subtitle">
                                        <a class="dropdown-item" href="#">Deutsch</a>
                                        <a class="dropdown-item" href="#">Deutsch</a>
                                        <a class="dropdown-item" href="#">Deutsch</a>
                                    </div>
                                    <a class="dropdown-item" href="#">English</a>
                                    <div class="item-subtitle">
                                        <a class="dropdown-item" href="#">Deutsch</a>
                                    </div>
                                </div>
                            </div>
                            <a class="nav-link scrollto" href="#news">Neuigkeiten</a>
                            <a class="nav-link scrollto" href="#contact">Kontakt</a>
                            <div class="btn-wrapper">
                                <a class="abtn btn-medium" href="#" data-bs-toggle="modal" data-bs-target="#registration">Registrieren</a>
                                <a class="abtn btn-small" href="#" data-bs-toggle="modal" data-bs-target="#login">Login</a>
                            </div>
                        </div>
                        <div class="menu-bottom">
                            <div class="social-wrapper">
                                <h3>Folge uns</h3>
                                <div class="social">
                                    <a href="#"><img class="svg" src="img/icon/Facebook.svg" alt=""></a>
                                    <a href="#"><img class="svg" src="img/icon/Youtube.svg" alt=""></a>
                                    <a href="#"><img class="svg" src="img/icon/Instagram.svg" alt=""></a>
                                    <a href="#"><img class="svg" src="img/icon/Twitter.svg" alt=""></a>
                                    <a href="#"><img class="svg" src="img/icon/LinkedIn.svg" alt=""></a>
                                    <a href="#"><img class="svg" src="img/icon/Google+.svg" alt=""></a>
                                </div>
                            </div>
                            <div class="nav-item dropdown lang-select dropup">
                                <a href="#" class="dropdown-toggle lang-link" id="langDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="lang-short">Deu</span>
                                </a>
                                <div class="separator"></div>
                                <div class="dropdown-menu" aria-labelledby="langDropdown">
                                    <a class="dropdown-item active" href="/de">Deutsch</a>
                                    <a class="dropdown-item" href="/en">English</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
