<section class="main-screen" id="start">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="header-main-img"></div>
            </div>
            <div class="col-12 col-md-6 header-intro">
                <h1>
                    Deine individuellen Kurse zur
                    Gesundheitsförderung
                </h1>
                <h2>
                    Innovative Angebote im Bereich<br>
                    Ernährung, Bewegung, Entspannung <br>und Konzentration
                </h2>
            </div>
        </div>
        <div class="row partners">
            <div class="col-6 col-md-3 order-0">
                <div class="partners-title">Unsere Partner</div>
            </div>
            <div class="col-6 d-md-none"></div>
            <div class="col-6 col-md-3 order-1">
                <a href="#" class="partners-item"><img src="img/pages/main/Erasmus+.svg" class="svg" alt="Erasmus+"></a>
            </div>
            <div class="col-6 col-md-3 order-4 order-md-2">
                <a href="#" class="partners-item"><img src="img/pages/main/joyOfLearning.svg" class="svg" alt="joyOfLearning"></a>
            </div>
            <div class="col-6 col-md-3 order-2 order-md-3">
                <a href="#" class="partners-item"><img src="img/pages/main/eegtraining.svg" class="svg" alt="eegtraining"></a>
            </div>
            <div class="col-6 col-md-3 offset-md-6 order-3 order-md-4">
                <a href="#" class="partners-item"><img src="img/pages/main/KINGLYCODES.svg" class="svg" alt="KINGLYCODES"></a>
            </div>
        </div>
    </div>
</section>