<section class="mission" id="mission">
    <div class="container">
        <div class="row heading">
            <div class="col-6">
                <div class="heading-title">Dein Partner <br /> für Gesundheitsförderung</div>
            </div>
            <div class="col-6">
                <div class="descriptor">Unsere Mission</div>
                <h1>Wer wir sind<br>und was wir anbieten</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 position-relative">
                <img class="mission-img" src="img/pages/mission/image6.png" alt="">
            </div>
            <div class="col-12 col-md-6">
                <div class="mission-text">
                    <p>Wir sind eine Kooperationspartnerschaft für die Gesundheitsbildung und -förderung Erwachsener und werden im Rahmen des EU-Programms Erasmus+ gefördert.</p>

                    <p>Unsere Projektpartner haben ihren Sitz in Deutschland, Dänemark und Estland. Wir haben zum Ziel, auf dieser im Aufbau befindlichen Website, Kurse und Infomaterial zum Thema Gesundheitsförderung in verschiedenen Sprachen anzubieten.</p>

                </div>
                <a href="#" class="abtn btn-primary mission-courses">Finde Deinen Kurs</a>
            </div>
        </div>
    </div>
</section>