<section class="moduls">
    <div class="container">
        <div class="heading reverse">
            <div class="heading-row">
            </div>
            <div class="heading-text">
                <h1>Remote Health</h1>
            </div>
        </div>
        <div class="heading">
            <div class="heading-row">
            </div>
            <div class="heading-text">
                <h1>Remote Health</h1>
            </div>
        </div>

        <!--        <div class="row text-block">
            <div class="col-0 col-md-4"></div>
            <div class="col-12 col-md-8">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
        </div>-->
        <!--        <div class="row text-block">
            <div class="col-0 col-lg-3"></div>
            <div class="col-12 col-md-6 col-lg-3">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-0 col-lg-3"></div>
        </div>-->
        <!--        <div class="row text-block left-img">
            <div class="col-0 col-lg-3"></div>
            <div class="col-12 col-md-6 col-lg-3">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-3">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
        </div>-->
        <!--        <div class="row text-picture background">
            <div class="col-12 col-md-6">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <div class="img-wrapper">
                    <img src="/img/shared/test-img.png" alt="Test-text" />
                </div>
            </div>
        </div>-->
        <!--        <div class="row text-picture reverse background">
            <div class="col-12 col-md-6">
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.</p>
                <p>Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <p>Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung. Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.</p>
                <ul>
                    <li>
                        Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                    </li>
                    <li>
                        Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen Maßnahmen, Neurofeedbacktherapien und Gesundheits- und Sprachkursen für Kinder Jugendliche und Erwachsene.
                    </li>
                    <li>
                        Wir sind ein multiprofessionelles Team mit Zertifikaten in Neurofeedback und Ausbildung in diversen Lerntherapiemethoden. Unabhängig von Ihrer finanziellen Situation, bieten wir professionelle Lerntherapien, Neurofeedback Therapien und weitere Bildungsangebote an.
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <div class="img-wrapper">
                    <img src="/img/shared/test-img.png" alt="Test-text" />
                </div>
            </div>
        </div>-->
        <!-- <div class="separator"></div>-->
        <!-- <div class="separator line"></div> -->
        <!--        <div class="cards background">
                <div class="row justify-content-end">
                    <div class="col-md-0 col-lg-3 card-content">
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">Biofeedback-Einzelcoaching</h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">
                                Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                                Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen
                            </h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">Biofeedback-Einzelcoaching</h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                </div>
            </div>-->
        <!--        <div class="cards">
                <div class="row justify-content-end">
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">Biofeedback-Einzelcoaching</h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">Biofeedback-Einzelcoaching</h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">
                                Der Verein Joy of Learning München verfolgt ausschließlich gemeinnützige Zwecke und ist anerkannt als gemeinnützig im Rahmen von Kinder- und Jugendhilfe und in der Erwachsenenbildung.
                                Der Verein verwirklicht das Satzungsziel durch Angebote von Lerntherapeutischen
                            </h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 card-content">
                        <div class="card">
                            <img class="card-img" src="img/pages/courses/thumb1.png" alt="">
                            <h3 class="card-title">Stressmanagement</h3>
                            <h3 class="card-annotate">Biofeedback-Einzelcoaching</h3>
                            <a href="#" class="card-showmore">Mehr erfahren ></a>
                        </div>
                    </div>
                </div>
            </div>-->
        <!--        <div class="cards images">
                    <div class="row justify-content-end">
                        <div class="col-12 col-md-6 col-lg-3 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                    </div>
                </div>-->
        <!--      <div class="cards images background">
                  <div class="row justify-content-end">
                      <div class="col-12 col-md-6 col-lg-3 card-content">
                      </div>
                      <div class="col-12 col-md-6 col-lg-3 card-content">
                          <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                      </div>
                      <div class="col-12 col-md-6 col-lg-3 card-content">
                          <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                      </div>
                      <div class="col-12 col-md-6 col-lg-3 card-content">
                          <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                      </div>
                  </div>
              </div>-->
        <!--        <div class="cards images background amt-2">
                    <div class="row">
                        <div class="col-12 col-md-6 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                        <div class="col-12 col-md-6 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                    </div>
                </div>-->
        <!--        <div class="cards images background amt-1">
                    <div class="row">
                        <div class="col-12 card-content">
                            <img class="card-img" src="img/shared/woman-in-field.png" alt="">
                        </div>
                    </div>
                </div>-->

        <div class="swiper-slider thumbs-gallery background">
            <div class="swiper gallery-big">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </div>
                </div>
            </div>
            <div thumbsSlider="" class="swiper gallery-small">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="img/shared/img.png" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-5.jpg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slider fade-solo background ">
            <div class="swiper swiper-fade">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-3.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="https://swiperjs.com/demos/images/nature-4.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>