<section class="news" id="news">
    <div class="container">
        <div class="row heading-block title-left">
            <div class="col-6">
                <div class="heading-title">Hier erhältst Du Informationen zu neuen Kursen, Studien und weiteren Entwicklungen unserer Plattform</div>
            </div>
            <div class="col-6">
                <div class="descriptor">Bleib auf dem Laufenden</div>
                <h1>Unsere aktuellsten <br>Neuigkeiten</h1>
            </div>
        </div>
        <div class="cards-wrapper">
            <div class="card date">
                <div class="card-date">25.04.2022</div>
                <div class="card-title">Tri-Monte-Lerntherapiegruppe</div>
                <div class="card-annotate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nulla in neque, tempor suspendisse. Nibh molestie pharetra felis, vulputate aliquam Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nulla in neque, tempor suspendisse. Nibh molestie pharetra felis, vulputate aliquam</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card date">
                <div class="card-date">23.04.2022</div>
                <div class="card-title">Schauspiel</div>
                <div class="card-annotate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nulla in neque, tempor suspendisse.</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card date">
                <div class="card-date">19.04.2022</div>
                <div class="card-title">Tri-Monte-Lerntherapiegruppe</div>
                <div class="card-annotate">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac nulla in neque, tempor suspendisse.</div>
                <a href="#" class="card-showmore">Mehr erfahren ></a>
            </div>
            <div class="card date">
                <div class="card-description">Erfahre mehr!</div>
                <a href="#" class="abtn btn-big card-allnews">Alle Neuigkeiten</a>
            </div>
        </div>
    </div>
</section>
