<section class="subscribe" id="subscribe">
    <div class="container">
        <div class="row heading">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="descriptor">Das Neueste per e-Mail</div>
                <h1>Unser <br>Newsletter</h1>
                <h2>Informiere Dich automatisch zu allen Neuerungen. <br>Als Newsletter-Abonnent erhältst Du exklusiven <br>Zugang zu Rabatt-Aktionen.</h2>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
                <form class="subscribe-form">
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="Deine E-Mail Adresse" aria-label="Deine E-Mail Adresse" required>
                        <button class="abtn btn-primary" type="submit">Jetzt abonnieren</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>